<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <p>Overview</p>
        </div>
        <div class="ui secondary segment">
            <!--<div class="ui active inverted dimmer" v-if="!finished">
                <div class="ui active inverted loader"></div>
            </div>-->
            <div class="ui two center aligned statistics">
                <div class="statistic">
                    <div class="value" v-text="guild.name"></div>
                    <div class="label" v-text="guild.realm"></div>
                </div>
                <div class="statistic">
                    <div class="value" v-text="averageItemLevel"></div>
                    <div class="label">Average Item Level</div>
                </div>
            </div>

            <!--<div class="ui bottom attached orange progress" v-if="!finished">
                <div class="bar" :style="{ width: progress + '%' }"></div>
            </div>-->
        </div>
    </div>
    <div class="ui mobile reversed  stackable two column centered grid">
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui large middle aligned divided list">
                    <guild-member v-for="member in members" :name="member.name" :realm="member.realm">
                    </guild-member>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <div class="header item">Sort By</div>
                <a class="item" :class="{ active: sortBy == 'rank' }" v-on:click="sort('rank', $event)">Guild Rank</a>
                <a class="item" :class="{ active: sortBy == 'name' }" v-on:click="sort('name', $event)">Name</a>
                <a class="item" :class="{ active: sortBy == 'averageItemLevelEquipped' }" v-on:click="sort('averageItemLevelEquipped', $event)">Item Level</a>
            </div>
        </div>
    </div>
</div>