<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <p>Overview</p>
        </div>
        <div class="ui secondary segment">
            <!--<div class="ui active inverted dimmer" v-if="!finished">
                <div class="ui active inverted loader"></div>
            </div>-->
            <div class="ui two center aligned statistics">
                <div class="statistic">
                    <div class="value" v-text="guild.name"></div>
                    <div class="label" v-text="guild.realm"></div>
                </div>
                <div class="statistic">
                    <div class="value" v-text="averageItemLevel"></div>
                    <div class="label">Average Item Level</div>
                </div>
            </div>

            <!--<div class="ui bottom attached orange progress" v-if="!finished">
                <div class="bar" :style="{ width: progress + '%' }"></div>
            </div>-->
        </div>
    </div>
    <div class="ui mobile reversed  stackable two column centered grid">
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui large middle aligned divided list">
                    <guild-member v-for="member in members" :name="member.name" :realm="member.realm">
                    </guild-member>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <h4 class="ui horizontal divider header"><i class="sort alphabet ascending icon"></i>Order By</h4>
            <div class="ui fluid vertical menu">
                <a class="item" :class="{ active: sortBy == 'rank' }" v-on:click="sort('rank', 'name', $event)">
                    Guild Rank
                    <i class="dropdown icon" :class="{ 'vertically flipped': !sortReverse }" v-if="sortBy == 'rank'"></i>
                </a>
                <a class="item" :class="{ active: sortBy == 'name' }" v-on:click="sort('name', 'rank', $event)">
                    Name
                    <i class="dropdown icon" :class="{ 'vertically flipped': !sortReverse }" v-if="sortBy == 'name'"></i>
                </a>
                <a class="item" :class="{ active: sortBy == 'averageItemLevelEquipped' }" v-on:click="sort('averageItemLevelEquipped', 'name', $event)">
                    Item Level
                    <i class="dropdown icon" :class="{ 'vertically flipped': !sortReverse }" v-if="sortBy == 'averageItemLevelEquipped'"></i>
                </a>
            </div>

            <h4 class="ui horizontal divider header"><i class="filter icon"></i>Filter</h4>
            <div class="ui segment">
                <form class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" placeholder="Aeshwyn" v-model="filterName">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>