<div class="ui container">
    <div class="ui tall segment">
        <div class="ui active inverted dimmer" v-if="!finished">
            <div class="ui active inverted loader"></div>
        </div>
        <div class="ui two center aligned statistics">
            <div class="statistic">
                <div class="value" v-text="guild.name"></div>
                <div class="label" v-text="guild.realm"></div>
            </div>
            <div class="statistic">
                <div class="value" v-text="averageItemLevel"></div>
                <div class="label">Average Item Level</div>
            </div>
        </div>

        <div class="ui bottom attached orange progress" v-if="!finished">
            <div class="bar" :style="{ width: progress + '%' }"></div>
        </div>

    </div>
    <div class="ui segments">
        <guild-member v-for="member in members" :realm="member.character.realm" :name="member.character.name"></guild-member>
    </div>
</div>